<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.dao.LoginMapper">
	<!-- 用户登录 -->
	<select id="mall_login" resultType="com.atguigu.bean.T_MALL_USER">
		select * from t_mall_user_account
	</select>
	
	<!-- 注册用户 -->
	<insert id="mall_regist">
		insert into t_mall_user_account(yh_mch,yh_nch,yh_yx,yh_mm) values(#{yh_mch},#{yh_nch},#{yh_yx},#{yh_mm})
	</insert>
	
	
</mapper>
